# Секреты и доступы (КРИТИЧЕСКИ ВАЖНО)
.env

# Виртуальное окружение и кэш Python
venv/
__pycache__/
*.py[cod]

# Медиафайлы пользователей (тестовые сканы)
media/

# Собранная статика
staticfiles/

# Системные файлы ОС
.DS_Store
Thumbs.db